<h1>TOPページ</h1>
ルームシェアのためのお金管理システムです。
<h2>メニュー</h2>
<ul>
  <li><%= link_to '編集画面', '/expenses/edit' %></li>
  <li><%= link_to '精算画面', '/expenses/show' %> </li>
  <li><%= link_to 'ユーザ設定', '/users/index' %> </li>
</ul>
