<h1>ユーザ編集画面</h1>

<tr>
  <th>一人目</th>
  <td><input type="text"  name="name1" ><%= @user.name %></td>
</tr>
<br>
<tr>
  <th>二人目 </th>
  <td><input type="text" name="name2" ><%= @user2.name %></td>
</tr>
</table>
